* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(55, 55, 55);
    color: white;
    padding: 30px;

}

h1{
    text-transform: uppercase;
    font-size:54px;
    font-family: "Bebas Neue", sans-serif;
}

p{
    font-family:"Roboto", sans-serif;
}

.heading{
    text-align: center;
    margin-bottom: 50px;
}

.fighter-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;
}

.fighter-card{
background-color: rgb(119, 119, 119);
cursor: pointer;
border-radius:4px;
border: 3px solid transparent;
transition: border 0.2s, box-shadow 0.2s;
filter:saturate(0.2);

}

.fighter-card img{
max-width:100px;
display: block;
border-radius:4px;

}

.fighter-card:not(.locked):hover {
    border: 3px solid white;
    box-shadow: 0 0 20px 6px #ffffff, 0 0 40px 12px #fff inset;
    filter:saturate(1);
}


.selection-container{
    display: flex;
    flex-direction: row;
}

.player-side {
    background-image:
     url("Images/Default.png");
    height:600px;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    

}


.player-side,.right-side{
    width:50%;
    align-items: center;
    text-align: center;
}

.fighter-firstname{
    font-family: "Bebas Neue", sans-serif;
    font-size:54px;
    font-weight: 600;
}

.fighter-nickname{
    font-family: "Bebas Neue", sans-serif;
    font-size:36px;

}

.fighter-lastname{
    font-family: "Bebas Neue", sans-serif;
    font-size:72px;
    font-weight: 600;
}





/* STATS */
.stats{
    background-color: #bdbdbd;
    display: flex;
    flex-direction: row;
    gap:20px;
    padding:30px;
    align-items: center;
    text-align: center;
    border-radius:3px;
}

.stat-item {
    flex:1;
    background-color: white;
    padding:10px;
    border-radius:3px;
}

.stat-value{
    font-family: "Bebas Neue", sans-serif;
    font-size:60px;
    color:#052383;
}

.stat-title{
    font-family: "Bebas Neue", sans-serif;
    font-size:32px;
    color:grey;

}

.stats_games {
    font-family: "Bebas Neue", sans-serif;
    padding: 20px;
    background-color: white;
    color:black;
}

.stats_text{
    font-size:36px;
}

.wins,.losses,.draws{
    font-size:70px;
    color: #052383;
}